:root{
    --base:#ffffff;
    --blue: #1F7A8C;
    --white: #ffffff;
    --spacing:10px;
    --blur:10px;
}

img{
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}

body{
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls{
    margin-bottom: 40px;
}

label{
    font-size: 25px;
}

input{
    width: 100px;
}